.sub-containers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.top-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  background-color: #5763a5;
  border-radius: 3px;
}

.entry-container {
  order: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #454f84;
  border-radius: 5px;
  width: 100%;
}
.entry-cont-head {
  font-size: 20px;
  color: #ffffff;
}
.input-container {
  display: flex;
  flex-direction: row;
  border-radius: 1px;
}

.input-logo {
  width: 10px;
  height: 10px;
}
.add-button {
  background-color: #0b69ff;
  color: azure;
  display: flex;
  font-size: 15px;
  align-self: flex-end;
}

.password-manager {
  order: 0;
  width: 100%;
  background-image: url('https://assets.ccbp.in/frontend/react-js/password-manager-sm-img.png');
}
.bottom-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
}
.bottom-head-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.bottom-main-head {
  font-size: 20px;
  color: #ffffff;
}

.span {
  font-size: 10px;
  border: 1px solid #5763a5;
  padding: 3px;
  color: #ffffff;
}
.search-cont {
  display: flex;
  flex-direction: row;
  width: 200px;
}
.search-icon {
  width: 10px;
  height: 10px;
}
.hr-line {
  width: 100%;
}
.password-checkbox-cont {
  display: flex;
  flex-direction: row;
}
.checkbox-label {
  font-size: 20px;
  color: #ffffff;
}
.password-list-cont {
  list-style-type: none;
  width: 100%;
}
.no-password {
  width: 40%;
  height: 300px;
}

@media screen and (min-width: 768px) {
  .top-container {
    display: flex;
    flex-direction: row;
  }
  .entry-container {
    order: 0;
    width: 50%;
  }
  .password-manager {
    order: 1;
    width: 50%;
    height: 400px;
    background-image: url('https://assets.ccbp.in/frontend/react-js/password-manager-lg-img.png');
  }
  .no-password {
    width: 100%;
    height: auto;
  }
}
